@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

* {
  font-family: "Inter", sans-serif;
  text-decoration: none;
}

.login {
  border: 8px solid black;
  width: 300px;
  height: 420px;
  font-size: 25px;
  display: grid;
  margin: 0 auto;
  padding: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.login-input {
  display: grid;
  text-align: left;
  font-size: 10px;
  margin: 10px;
  padding: 10px;
  gap: 10px;
}
.login img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  padding: 10px;
}

.login-input label {
  display: grid;
  text-align: left;
  margin: 0px auto;
  padding: 0px;
  gap: 0px;
}

.login-input input {
  display: grid;
  text-align: left;
  justify-content: center;
  align-items: center;

  margin: 0px auto;
  padding: 0px;
  gap: 0px;
}
.login-input Button {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
  width: 150px;
}
.login-input Button {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
  width: 150px;
}

.login-forgot {
  display: grid;
  text-align: right;
  font-size: 20px;
  margin: 0px;
  padding: 0px;
  gap: 0px;
}

.main-header {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 50px;
  text-align: center;
  margin: 10px;
  padding: 10px;
}
